

.rotated-text {
    text-align: left;
    padding-left: 80%;
    display: inline-block;

    -ms-transform-origin: 20% 40%; /* IE 9 */

    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */

    transform-origin: 100% 100%;


    /* Safari */
    -webkit-transform: rotate(-20deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}