body {
    background-color: rgb(3, 3, 3);
}

#container {
    height: 80vh;
    width: 80vw;
}

.center {
    margin: auto;
}

#track_div {
    width: 80vmin;
}

#cover {
    width: 80vmin;
    display: block;
    margin: auto;
}

@media all and (max-device-width: 600px) {
    #container {
        height: 95vh;
        width: 95vw;
    }

    #track_div {
        width: 95vw;
    }

    #cover {
        width: 95vw;
        display: block;
        margin: auto;
    }
}

@media all and (max-width: 600px) {
    #container {
        height: 95vh;
        width: 95vw;
    }

    #track_div {
        width: 95vw;
    }

    #cover {
        width: 95vw;
        display: block;
        margin: auto;
    }
}