body {
    background-color: rgb(3, 3, 3);
}

#container {
    width: 70vmin;
}

.center {
    margin: auto;
}

#track_div {
    width: 70vmin;
}

#cover {
    width: 70vmin;
    display: block;
    margin: auto;
}

@media all and (max-device-width: 600px) {
    #container {
        width: 95vmin;
    }

    #track_div {
        width: 95vmin;
    }

    #cover {
        width: 95vmin;
        display: block;
        margin: auto;
    }
}

@media all and (max-width: 600px) {
    #container {
        width: 95vmin;
    }

    #track_div {
        width: 95vmin;
    }

    #cover {
        width: 95vmin;
        display: block;
        margin: auto;
    }
}

@font-face {
    font-family: commonFont;
    src: url(../fonts/Quicksand-Regular.woff) format('woff')
}